//BREAKPOINTS SCREEN SIZES BASED ON REAL SCREENS SIZES

$breakPoints : (
    xs: 575px, //extra-small
    sm: 767px, //small
    md: 991px, //medium
    lg: 1199px, //large
    xl: 1200px, //extra
);


//COLORS BOOTSRAP MODIFIED

$primary : #F74E2D;
$secondary : #EFEFEF;
$white : #ffffff;
$black: #000000;



$margin-20px: 20px;